<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In Page</title>
</head>
<body>
<form action="validateSignIn" method="GET">
    <input id = "inputName" type="text" name="Name" placeholder="Name">
    <input id = "inputPassword" type="text" name="Password" placeholder="Password">
    <select id="inputRole" name="Role">
        <option value="Bookie">Bookie</option>
        <option value="Player">Player</option>
    </select>
    <input type="submit">
</form>
</body>
</html>